<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Ethiapath/Dropbox/School/CS_260/Labs/Week3/Lab3/Lab3.xcodeproj</string>
</dict>
</plist>
